{% extends "base.html.twig" %}




{% block body %}

    <h1>Page administrateur</h1>

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}   
        <p><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></p>
        
    <h1>Votre role dans cette page</h1>

        <p>ADMINISTARTEUR</p>

        <p><a href="{{ path('form')}}">Accéder au formulaire élève</a></p>
        
        <p><a href="{{ path('listePays')}}">Accéder à la gestion des Pays</a></p>

        <p><a href="{{ path('listeEtablissement')}}">Accéder à la gestion des Etablissements</a></p>

        <p><a href="{{ path('listePromos')}}">Accéder à la gestion des Promotions</a></p>
        
        <p><a href="{{ path('listeLangue')}}">Accéder à la gestion des Langues</a></p>
        
        <p><a href="{{ path('listeExaminateur')}}">Accéder à la gestion des examinateurs</a></p>
    {% endif %}

{% endblock %}