{% extends 'base.html.twig' %}

{% block body %}
        <a href="{{path('listeLangue')}}">Afficher toutes les langues</a>
        <h1>Modification d'une langue</h1>
        {{ form_start(formModif) }}
        <div style="width:200px">
            {{ form_row(formModif.libelleLangue) }}
        </div>
        {{ form_row(formModif.submit) }}
        
        {{ form_end(formModif) }}

{% endblock %}