{% extends 'base.html.twig' %}

{% block body %}
        <a href="{{path('listePays')}}">Afficher tous les pays</a>
        <h1>Modification d'un pays</h1>
        {{ form_start(formModif) }}
        <div style="width:200px">
            {{ form_row(formModif.libellePays) }}
        </div>
        {{ form_row(formModif.submit) }}
        
        {{ form_end(formModif) }}

{% endblock %}